@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");


@theme {
  --color-primary: #FFFFFF;
  --color-secondary: #C2E0D2;
  --color-background: #0C0B22;
  --color-body: #2E3E41;
  --color-accent: #B49F9B;

  /* Regal */

  --color-rfg: #192524;        /* Foreground / Text */
  --color-rbg: #FFFFFF;        /* Background */
  --color-rprimary: #3c5759;   /* Primary (burgundy) */
  --color-rsecondary: #d1ebdb; /* Secondary (gold) */
  --color-rneutral: #d0d5ce;   /* Neutral (beige) */
  --color-rtertiary: #959d90;  /* Tertiary (sage green) */

  --font-cormorant: "Cormorant Garamond", serif;
  --font-roboto: "Roboto", serif;
  --font-lato: "Lato", serif

}

@layer components {
  .portfolio-main-tabs {
    @apply min-w-[140px] sm:min-w-[180px] md:min-w-[220px]
           text-center text-lg sm:text-xl md:text-2xl
           font-semibold text-rprimary
           px-2 sm:px-3 md:px-4 py-1 sm:py-2
           rounded-md transition-all duration-200
           data-[state=active]:bg-rprimary data-[state=active]:text-rbg
           hover:bg-rprimary/10;
  }
/* Project Tabs: More flexible wrapping */
  .portfolio-project-tabs {
    @apply w-full sm:w-auto max-w-[220px]
          text-center px-3 py-2
          bg-rsecondary/80 rounded-xl cursor-pointer
          hover:bg-rprimary/10 duration-200 transition-colors
          shadow-[0_2px_5px] shadow-rtertiary
          data-[state=active]:bg-rprimary data-[state=active]:text-rbg;
  }

  /* Header size adjustment for smaller screens */
  .portfolio-project-tabs-header {
    @apply text-base sm:text-lg md:text-xl;
  }
}