@import "tailwindcss";

@theme {
  --color-primary: #DEF5F2;
  --color-secondary: #C2E0D2;
  --color-background: #0C0B22;
  --color-body: #2E3E41;
  --color-accent: #B49F9B;

  --font-cormorant: "Cormorant Garamond", serif;
}
