@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");


@theme {
  --color-primary: #FFFFFF;
  --color-secondary: #C2E0D2;
  --color-background: #0C0B22;
  --color-body: #2E3E41;
  --color-accent: #B49F9B;

  /* Regal */

  --color-rfg: #192524;        /* Foreground / Text */
  --color-rbg: #efece9;        /* Background */
  --color-rprimary: #3c5759;   /* Primary (burgundy) */
  --color-rsecondary: #d1ebdb; /* Secondary (gold) */
  --color-rneutral: #d0d5ce;   /* Neutral (beige) */
  --color-rtertiary: #959d90;  /* Tertiary (sage green) */

  --font-cormorant: "Cormorant Garamond", serif;
  --font-roboto: "Roboto", serif;
  --font-lato: "Lato", serif

}
